@import url(https://fonts.googleapis.com/css?family=Open+Sans);

a.rating, a.rating:active, a.rating:hover, a.rating:visited {
    position: relative;
    text-decoration: none;
    color: #388E8E;
    opacity: 0.8;
    transition: all 0.25s ease-in-out 0s;
}

a.rating:hover {
    color: #5E2D79;
    opacity: 0.9;
}

a.upper-bar:before, a.lower-bar:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    background: #5E2D79;
    opacity: 0.9;
    transition: all 0.25s ease-in-out 0s;
}

a.upper-bar:before {
    top: -0.15em;
}

a.lower-bar:after {
    bottom: -0.25em;
}

a.rating:before {
    left: 0;
}

a.rating:after {
    right: 0;
}

a.lower-bar:hover:before, a.upper-bar:hover:after {
    width: 100%;
}